<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Open Server Panel</title>
    <link href="favicon.ico" rel="icon" sizes="16x16 20x20 24x24 32x32 40x40 48x48 64x64" type="image/x-icon">
    <script defer="defer" src="/js/chunk-vendors.js"></script>
    <script defer="defer" src="/js/app.js"></script>
    <link href="/assets/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <script>
        window.WEB_API_URL = '{web_api_url}';
        window.CLI_API_URL = '{cmd_api_url}';
        window.OSP_VERSION = '{osp_version}';
        window.OSP_DATE = '{osp_version_datetime}';
        window.ping = true;
    </script>
</head>

<body>
<div id="app"></div>
</body>

</html>
