<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link href="/favicon.ico" rel="icon">
    <title>OSPanel</title>
    <link href="/assets/bootstrap-icons.css" rel="stylesheet">
    <script>
        window.WEB_API_URL = '{web_api_url}';
        window.CLI_API_URL = '{cmd_api_url}';
        window.OSP_VERSION = '{osp_version}';
        window.OSP_DATE = '{osp_version_datetime}';
        window.ping = true;
    </script>
</head>
<body>

<div id="app"></div>

</body>
</html>
