<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Open Server Panel</title>
  <link href="/favicon.ico" rel="icon" sizes="16x16 32x32" type="image/x-icon">
  <link href="/dist/img/x16.png" rel="icon" sizes="16x16" type="image/png">
  <link href="/dist/img/x32.png" rel="icon" sizes="32x32" type="image/png">
  <style>
    #loader {
      position: fixed;
      z-index: 9999999;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }

    #loader > div {
      position: relative;
      display: inline-block;
      width: 80px;
      height: 80px;
    }

    #loader > div div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      border-radius: 50%;
      background: #fff;
    }

    #loader > div div:nth-child(1) {
      left: 8px;
      animation: loading1 0.6s infinite;
    }

    #loader > div div:nth-child(2) {
      left: 8px;
      animation: loading2 0.6s infinite;
    }

    #loader > div div:nth-child(3) {
      left: 32px;
      animation: loading2 0.6s infinite;
    }

    #loader > div div:nth-child(4) {
      left: 56px;
      animation: loading3 0.6s infinite;
    }

    @keyframes loading1 {
      0% { transform: scale(0); }
      100% { transform: scale(1); }
    }

    @keyframes loading2 {
      0% { transform: translate(0, 0); }
      100% { transform: translate(24px, 0); }
    }

    @keyframes loading3 {
      0% { transform: scale(1); }
      100% { transform: scale(0); }
    }
  </style>
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/main.css" rel="stylesheet">
  <script>
      window.domains = [];
      window.API_URL = '{cmd_api_url}';
      window.ping = true;
  </script>
</head>

<body class="bg-secondary" style="--bs-body-font-size: 1.2rem;">

<div class="layout">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="http://ospanel">
        <img alt="" class="d-block" src="/dist/img/logo.png">
        <span class="ms-2">OSPanel</span>
        <small><small class="-text-muted ms-2"
          style="color: var(--bs-navbar-color);"
        >v {osp_version}, {osp_version_datetime}</small></small>
      </a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/OSPanel/OpenServerPanel" target="_blank">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ospanel.io/forum/" target="_blank">Форум</a>
        </li>
      </ul>
    </div>
  </nav><!-- // .navbar -->

  <div class="main">
    <div class="container-xl">
      <div class="content bg-white shadow p-3">
        <div id="error">
          <div class="alert alert-danger">
            <h4 class="alert-heading">Хост http://api.ospanel недоступен</h4>
            Необходимо добавить домен <code>api.ospanel</code> и включить модуль <code>PHP-8.1</code>.
          </div>
          <p>1. Добавьте в файл <code>OSPanel/config/domains.ini</code> секцию следующего содержания:</p>
          <pre class="text-bg-dark p-3">[api.ospanel]
aliases         =
enabled         = on
engine          = PHP-8.1
ip              = auto
log_format      = combined
cgi_dir         = &#123;root_dir&#125;\system\cgi-bin
public_dir      = &#123;root_dir&#125;\system\public_html
auto_configure  = on
ssl             = off
ssl_cert_file   = &#123;root_dir&#125;\user\ssl\default\cert.crt
ssl_key_file    = &#123;root_dir&#125;\user\ssl\default\cert.key
project_home_dir     =
project_add_modules  =
project_add_commands =</pre>
          <p>2. Откройте интерфейс командной строки и выполните команду:</p>
          <pre class="text-bg-dark p-3">osp on PHP-8.1</pre>
          <p>3. Обновите эту страницу</p>
        </div><!-- // #error -->
        <div id="main"></div>
      </div>
    </div><!-- // .container -->
  </div><!-- // .main -->

</div><!-- // .layout -->

<div id="flash"></div>

<!--
@include('modal_domain')
-->

<div class="modal fade" id="m-help-modules" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-bg-dark">
      <div class="modal-body">
        <h1 class="modal-title fs-3 mb-3">Действия с модулями</h1>
        <div class="h4"><i class="bi bi-info-circle"></i> Инициализация <code>init</code></div>
        <p>Перечитать настройки модуля и пересоздать временные файлы (конфиги)
          При необходимости укажите новый активный профиль настроек модуля.<br>
          <span class="text-danger">Эта команда недоступна для включённых (запущенных) модулей!</span><br>
          <span class="text-warning">При работе в консоли примените среду окружения модуля повторно (команда "set" или
            "add"), если она сейчас активна, а настройки или профиль настроек изменились!</span>
        </p>
        <div class="h4"><i class="bi bi-arrow-repeat"></i> Перезапуск <code>restart</code></div>
        <p>Перезапустить модуль</p>
        <div class="h4"><i class="bi bi-power"></i> Включение <code>on</code></div>
        <p>Включить модуль</p>
        <div class="h4"><i class="bi bi-power"></i> Выключение <code>off</code></div>
        <p>Выключить модуль</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-domain" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Изменить настройки домена</h5>
        <button aria-label="Закрыть" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form method="post" onsubmit="return domain_update(this)">
          <input name="action" type="hidden">
          <input name="old_host" type="hidden">
          <div class="row mb-3">
            <div class="col-form-label col-sm-3 pt-0">Домен</div>
            <div class="col-sm-9">
              <div class="form-check">
                <input name="enabled" type="hidden" value="0">
                <input class="form-check-input" id="domain-enable" name="enabled" type="checkbox" value="1">
                <label class="form-check-label" for="domain-enable">Включён</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-form-label col-sm-3 pt-0">SSL</div>
            <div class="col-sm-9">
              <div class="form-check">
                <input name="ssl" type="hidden" value="0">
                <input class="form-check-input" id="domain-ssl" name="ssl" type="checkbox" value="1">
                <label class="form-check-label" for="domain-ssl">Включён</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Host name</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="host" required type="text">
              <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Aliases</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="aliases" type="text">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">IP address</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="ip" type="text" value="auto">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Engine</label>
            <div class="col-sm-9">
              <select class="form-select" name="engine">
                <option value="PHP-7.1">PHP-7.1</option>
                <option value="PHP-7.2">PHP-7.2</option>
                <option value="PHP-7.3">PHP-7.3</option>
                <option value="PHP-7.4">PHP-7.4</option>
                <option value="PHP-8.0">PHP-8.0</option>
                <option value="PHP-8.1">PHP-8.1</option>
                <option value="PHP-8.2">PHP-8.2</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Public dir</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="public_dir" required type="text">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Project dir</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="project_home_dir" required type="text">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-form-label col-sm-3 pt-0">Use system ENV</div>
            <div class="col-sm-9">
              <div class="form-check">
                <input name="project_use_sys_env" type="hidden" value="0">
                <input class="form-check-input" id="project_use_sys_env" name="project_use_sys_env" type="checkbox" value="1">
                <label class="form-check-label" for="project_use_sys_env">On</label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Project command</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="project_add_commands" type="text">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Project modules</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="project_add_modules" type="text">
            </div>
          </div>
          <p><b><i><small>Custom settings</small></i></b></p>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Панель управления</label>
            <div class="col-sm-9">
              <input class="form-control font-monospace" name="admin_path" type="text">
              <div class="form-text">Укажите путь к панели администратора.</div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div hidden id="loader">
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script src="/assets/bootstrap.bundle.min.js"></script>
<script src="/assets/helpers.js"></script>
<script src="/assets/http.js"></script>
<script src="/assets/modules.js"></script>
<script src="/assets/domains.js"></script>
<script src="/assets/main.js"></script>

</body>
</html>
